/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Fantasque Sans Mono", "Noto Sans CJK JP";
    font-size: 16px;
    outline: transparent;
}

*:focus {
    outline: transparent;
}

/* vim:set ft=scss: */
